:root {
    /* color list */
    --primary-color: #f9447e;
    --secondary-color: #fbd9e5;
    --header-color: #7f95e4;
    --text-color: black;
    --secondary-text-color: #badf93;
    --cd-bar-color: #c0c7fb;
    --background-color: #fff; /* FIXME: change color */

    /* font size list */
    --root-font-size: 20px;
    font-size: var(--root-font-size);

    /* font family list */
    --font-headline: "Quicksand", Verdana;
    --font-family: "Quicksand", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.container {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.main-header {
    padding: 25px 0;
    text-align: center;
    color: var(--background-color);
    background-color: var(--cd-bar-color);
}

.main-header h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 3rem;

}

.main-header h2 {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 20px;
   
}

.player-container {
    padding-top: 40px;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: flex-start;
}

.cd-player {
    width: 40%;
    height: 50%;
    position: relative;
    align-self: center;
}

.cd-player #cd-bar {
    width:100%; 
    height: 100%;
    background-color: var(--cd-bar-color);
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    position: relative;
}


.cd-player #cd-bar::before {
    content: "";
    position: absolute;
    background-color: white;
    top: 50%; 
    right: 0; 
    transform: translate(-10%, -50%); 
    width: 245px; 
    height: 245px; 
    border-radius: 50%;
    background-image: url('SZA_SOS.png'); /* FIXME: hardcoded image for now */
    background-size: cover; /* Ensure the image covers the circle */
    background-position: center; /* Center the image */
    opacity: 90%;

}

.player-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    top: 50%; 
    left: 30%;
    transform: translateY(-50%); 
}

.player-buttons button {
    font-size: 1.05rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: none;
    background-color: transparent;
    color: #fff;
}

.player-buttons button:hover {
    transform: scale(1.25);
    color: var(--primary-color);
}

.player-buttons .play-button {
    font-size: 3rem;
}

.songs-container {
    width: 50%;
    height: 100%;
    
}

.song-info {
    padding-top: 2%;
    padding-left: 5%;
    text-align: left;
    height: 25%;
}

.song-info .song-title {
    font-size: 2.5rem;
    color: var(--primary-color);
    padding-bottom: 5px;
  }
  
.song-info .song-artist {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-color);
}

.playlist-icons {
    width: 100%;
    height: 5%;
}

.playlist-container {
    height: 65%;
    overflow-y: auto;
}

.playlist-icons i {
    display: flex;
    justify-content: right;
    padding: 10px;
    color: rgba(249, 68, 126, 0.5);
}

.playlist-icons i:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.playlist-menu {
    width: 100%;
    height: 5%;
}

.playlist-menu p:nth-child(3) {
    font-size: 0.75rem;
}


.playlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.playlist .song-item {
    padding: 10px 40px;
    display: grid;
    grid-template-columns: 2fr 1.5fr 0.5fr;
    font-size: 1.05rem;
    text-align: left;
    margin: 15px;
    font-weight: 700;
}

.playlist-song-name, .playlist-song-artist, .song-date-added {
  display: flex;
  align-items: center; 
}

.playlist-song-name {
    color: var(--primary-color);
}

.song-date-added {
    font-size: 0.75rem;
    padding-top: 5px; /* FIXME: adjust so text is centered */
    color: var(--header-color);
}


/* FIXME: Hard Coded Highlight for current song */
li:nth-child(1) {
    color: black;

}

/* SCROLL BAR STYLING */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(249, 68, 126, 0.1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--cd-bar-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--header-color);
    cursor: pointer;
  }


/*responsive media query when window is minimized to 1/2 size */
@media (max-width: 800px) {
    .cd-player #cd-bar::before {
        width:190px; 
        height: 190px;
    }

    .cd-player {
        width: 40%;
        height: 40%;
    }

    .player-buttons {
        left: 10%;
        top: 51%;
        gap: 30px;
    }

    .player-buttons button {
        font-size: 0.75rem;
    }

    .player-buttons .play-button {
        font-size: 2rem;
    }

    .song-info .song-title {
        font-size: 2rem;
    }

    .song-info .song-artist {
        font-size: 1rem;
    }
    .playlist-menu i {
        font-size: 1rem;
        cursor: pointer;
    }

    .playlist .song-item {
        font-size: 0.75rem;
        padding: 10px 20px;
        margin: 10px;
        grid-template-columns: 1.75fr 1.5fr 0.35fr;
    }

    .song-date-added {
        font-size: 0.5rem;
    }


}



