:root {
    /* color list */
    --primary-color: #f9447e;
    --secondary-color: #fbd9e5;
    --header-color: #7f95e4;
    --text-color: black;
    --secondary-text-color: #badf93;
    --cd-bar-color: #c0c7fb;
    --background-color: #fff; /* FIXME: change color */

    /* font size list */
    --root-font-size: 20px;
    font-size: var(--root-font-size);

    /* font family list */
    --font-headline: "Quicksand", Verdana;
    --font-family: "Quicksand", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.container {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.main-header {
    padding: 25px 0;
    text-align: center;
    color: var(--background-color);
    background-color: var(--cd-bar-color);
}

.main-header h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 3rem;

}

.main-header h2 {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 20px;
   
}

.date-tracker-container {
    display: flex;
    font-size: 0.85rem;
    font-weight: 600;
    gap: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.current-date {
    color: var(--header-color);
}

.player-container {
    padding-top: 40px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    align-items: flex-start;
}

.cd-player {
    width: 40%;
    height: 50%;
    position: relative;
    align-self: center;
}

.cd-player #cd-bar {
    width:100%; 
    height: 100%;
    background-color: var(--cd-bar-color);
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    position: relative;
}


.cd-player #cd-bar::before {
    content: "";
    position: absolute;
    background-color: white;
    top: 50%; 
    right: 0; 
    transform: translate(-10%, -50%); 
    width: 245px; 
    height: 245px; 
    border-radius: 50%;
    background-image: var(--album-cover, url('album-covers/empty_album_cover.png')); 
    background-size: cover; /* Ensure the image covers the circle */
    background-position: center; /* Center the image */
    opacity: 90%;
    animation: rotateCD 30s linear infinite;
}

/* cd pause state */
.cd-player #cd-bar.paused::before {
    animation-play-state: paused;
}

.cd-player #cd-bar::after {
    content: "";
    position: absolute;
    background-color: var(--background-color);
    top: 50%; 
    right: 0; 
    transform: translate(-245%, -50%); 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 5px solid var(--cd-bar-color); 
}

.player-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    top: 50%; 
    left: 30%;
    transform: translateY(-50%); 
}

.player-buttons button {
    font-size: 1.05rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: none;
    background-color: transparent;
    color: #fff;
}

.player-buttons button:hover {
    transform: scale(1.25);
    color: var(--primary-color);
}

.player-buttons .play-button {
    font-size: 3rem;
}

.songs-container {
    width: 50%;
    height: 100%;
}

.song-info {
    padding-top: 2%;
    padding-left: 5%;
    text-align: left;
    height: 25%;
}

.song-info .song-title {
    font-size: 2.5rem;
    color: var(--primary-color);
    padding-bottom: 5px;
  }
  
.song-info .song-artist {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-color);
}

.playlist-icons {
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: right;
    gap: 25px;
}

.playlist-container {
    height: 65%;
    overflow-y: auto;
}

.playlist-icons i {
    display: flex;
    justify-content: right;
    color: rgba(249, 68, 126, 0.5);
}

.playlist-icons i:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.playlist-menu {
    width: 100%;
    height: 5%;
}

.playlist-menu p:nth-child(3) {
    font-size: 0.75rem;
}


.playlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.playlist-title {
    display: flex;
    font-size: 0.85rem;
    font-weight: 600;
    gap: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.playlist .song-item {
    padding: 10px 40px;
    display: grid;
    grid-template-columns: 0.7fr 1.75fr 1.5fr 0.5fr 0.2fr;
    font-size: 1.05rem;
    text-align: left;
    margin: 15px;
    font-weight: 700;
}

.playlist-song-name, .playlist-song-artist, .date-added, .playlist-song-mood {
  display: flex;
  align-items: center; 
}

.playlist-song-name {
    color: var(--primary-color);
}

.date-added {
    font-size: 0.8rem;
}

.playlist-song-mood {
    font-size: 0.8rem;
}

.delete-button {
    padding-left: 30px;
    padding-top: 3px;
    color: vaR(--cd-bar-color);
}

.delete-button:hover {
    color: var(--header-color);
}

.active-song {
    border-radius: 5px;
    background-color: rgba(249, 68, 126, 0.1); 
    
}


/* SCROLL BAR STYLING */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(249, 68, 126, 0.1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--cd-bar-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--header-color);
    cursor: pointer;
  }

/* Add Song Form Styling */
.popup-container {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-box {
    background: var(--background-color);
    width: 40%;
    height: 68%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-box .title {
    color: var(--header-color);
    font-weight: 600;
    font-size: 1.25rem;
    padding-top: 50px;
    padding-bottom: 20px;
}

.popup-box label {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 10px 20px;

}

.popup-box input[type=text], #mood-input {
    border: none;
    border-bottom: 2px solid var(--cd-bar-color);
    padding: 10px 10px;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: var(--font-family);
}

.popup-box input::placeholder {
    color: var(--text-color);
}

.popup-box input:focus, .mood-input:focus {
    outline: none;
    border: none;
    border-bottom: 3px solid var(--cd-bar-color);
}


.mood-input {
    outline: none;
    font-size: 1rem;
    background-color: var(--background-color);
}

.popup-box input[type=file] {
    border: none;
    padding: 10px 10px;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: var(--font-family);
}


#image-preview {
    margin: 10px 0;
    text-align: center;
}

#preview-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

#add-song-form input[type=submit] {
    background-color: var(--background-color);
    cursor: pointer;
    border: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 600;
    color: var(--cd-bar-color);
    padding: 20px 0;
}

#add-song-form input[type=submit]:hover {
    color: var(--header-color);
}


/*responsive media query when window is minimized to 1/2 size */
@media (max-width: 1000px) {
    .cd-player #cd-bar::before {
        width:190px; 
        height: 190px;
    }

    .cd-player #cd-bar::after {
        transform: translate(-180%, -50%); 
        width: 50px; 
        height: 50px; 
        border-radius: 50%; 
        border: 5px solid var(--cd-bar-color); 
    }

    .cd-player {
        width: 40%;
        height: 40%;
    }

    .player-buttons {
        left: 10%;
        top: 51%;
        gap: 30px;
    }

    .player-buttons button {
        font-size: 0.75rem;
    }

    .player-buttons .play-button {
        font-size: 2rem;
    }

    .song-info .song-title {
        font-size: 2rem;
    }

    .song-info .song-artist {
        font-size: 0.5rem;
    }
    .playlist-menu i {
        font-size: 0.5rem;
        cursor: pointer;
    }

    .playlist .song-item {
        font-size: 0.75rem;
        padding: 10px 20px;
        margin: 10px;
        grid-template-columns: 0.5fr 1fr 1fr 0.25fr; /* fix me for smaller windows */
    }

    .date-added {
        font-size: 0.5rem;
    }

    .playlist-song-mood {
        font-size: 0.5rem;
    }

    .add-song-form {
        width: 80%;
    }



}

/* Small devices (phones, 320px - 480px) */
@media (max-width: 450px) {

    .player-container {
        flex-direction: column;
        align-items: center;
    }

    .main-header h1 {
        font-size: 1.5rem;
    }

    .main-header h2 {
        font-size: 0.75rem;
        padding: 0 30px;
    }
    .date-tracker-container {
        font-size: 0.75rem;
    }

    .cd-player #cd-bar {
        width: 160px;  
        height: 160px;
        background-color: var(--cd-bar-color);
        border-radius: 50%; 
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cd-player #cd-bar::before {
        top: 50%; 
        right: 1%;
        width: 130px; 
        height: 130px; 
    }

    .cd-player #cd-bar::after {
        top: 50%; 
        right: 0%; 
        width: 35px; 
        height: 35px; 
        background-color: rgba(255,255,255, 0.9);
        border: 3px solid var(--cd-bar-color); 
    }

    .player-buttons {
        flex-direction: row;
        gap: 30px;
        top: 130%; 
        left:15%;
    }

    .player-buttons button {
        font-size: 0.65rem;
        color: var(--cd-bar-color);
    }
    
    .player-buttons .play-button {
        font-size: 1.5rem;
        color: var(--cd-bar-color);
    }
    .songs-container {
        width: 90%;
        padding-top: 45px;
       
    }
    
    .song-info {
        height: 20%;
        width: 95%;
    }
    
    .song-info .song-title {
        font-size: 1rem;
    }
    
    .song-info .song-artist {
        font-size: 0.55rem;
    
    }

    .playlist-title {
        font-size: 0.75rem;
        width: 95%;
        font-weight: 600;
        text-align: left;
        margin-bottom: -5%;
        padding-top: 25px;
        
    }

    .playlist-container {
        width: 95%;

    }
    
    .playlist-icons {
        width: 95%;
        gap: 20px;
    }

    .playlist-icons i {
        font-size: 0.85rem;
    }

    .playlist .song-item {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.75fr 0.1fr;
        font-weight: 600;
        padding: 10px;
        gap: 5px;
    }
    
    .playlist .song-item > * {
        overflow-wrap: break-word; /* Ensures text wraps to the next line */
        word-break: break-word; /* Breaks long words if necessary */
    }

    .playlist-song-name {
        font-size: 0.45rem;
    }

    .playlist-song-artist {
        font-size: 0.45rem;
    }

    .date-added {
        font-size: 0.4rem;
    }

    .playlist-song-mood {
        font-weight: 800;
        font-size: 0.4rem;
    }

    .delete-button {
        padding-left: 0;
        padding-top: 0;
    }

    

    .popup-box {
        height: 70%;
        width: 90%;
        border: 1px solid 
    }

    .popup-box .title {
        font-weight: 600;
        font-size: 0.9rem;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

        
    .popup-box label {
        display: grid;
        grid-template-columns: 0.4fr 1fr;
        align-items: center;
        font-size: 0.6rem;
    }

    .popup-box input[type=text], #mood-input {
        font-size: 0.6rem;
        margin: 0 20px;
        border-bottom: 1px solid var(--cd-bar-color);
    }


    .popup-box input[type=file] {
        font-size: 0.6rem;
        width: 100%;
    }

    #preview-image {
        width: 75px;
        height: 75px;
    }

    #add-song-form input[type=submit] {
        font-size: 0.7rem;
        padding: 0;
    }



}

/* CD Animation */
@keyframes rotateCD {
    from {
      transform: translate(-10%, -50%) rotate(0deg); /* Start at 0 degrees */
    }
    to {
      transform: translate(-10%, -50%) rotate(360deg); /* End at 360 degrees */
    }
  } 





