:root {
    /* color list */
    --primary-color: #d7d6ce;
    --secondary-color: #ffd1e8;
    --highlight-color: #a41247;
    --background-color: #1f1f1f;
    --app-background-color: #ffffff; /* FIXME: change color */

    /* font size list */
    --root-font-size: 20px;
    font-size: var(--root-font-size);

    /* font family list */
    --font-headline: "Quicksand", Verdana;
    --font-family: "Quicksand", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--app-background-color);
    font-family: var(--font-family);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.container {
    width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: #1f1f1f;
}

.main-header {
    border: 2px solid green;
    padding: 25px 0;
    text-align: center;
}

.main-header h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 2.75rem;

}

.main-header h2 {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 20px;
   
}


.player-container {
    padding-top: 40px;
    background: #fff;
    width: 100%;
    height: 70vh;
    border: 2px solid blue;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: flex-start;
}

.cd-player {
    width: 40%;
    height: 50%;
    position: relative;
    align-self: center;
}

.cd-player #cd-bar {
    width:100%; 
    height: 100%;
    background-color: rgb(238, 159, 221);
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    position: relative;
}


.cd-player #cd-bar::before {
    content: "";
    position: absolute;
    background-color: white;
    top: 50%; 
    right: 0; 
    transform: translate(-10%, -50%); 
    width: 245px; 
    height: 245px; 
    border-radius: 50%;
    background-image: url('SZA_SOS.png'); /* FIXME: hardcoded image for now */
    background-size: cover; /* Ensure the image covers the circle */
    background-position: center; /* Center the image */
    opacity: 90%;

}

.player-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    top: 50%; 
    left: 30%;
    transform: translateY(-50%); 
}

.player-buttons button {
    font-size: 1.05rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: none;
    background-color: transparent;
}

.player-buttons button:hover {
    transform: scale(1.25);
}

.player-buttons .play-button {
    font-size: 2.75rem;
}

.songs-container {
    width: 50%;
    height: 90%;
    border: 2px solid red;
}

.song-info {
    padding-top: 2%;
    padding-left: 5%;
    text-align: left;
    height: 25%;
    border: 2px solid orange;
   
}

.song-info .song-title {
    font-size: 2.5rem;
    color: #333;
    padding-bottom: 5px;
  }
  
.song-info .song-artist {
    font-size: 1.25rem;
    color: #666;
}

.playlist-container {
    border: 2px solid purple;
    height: 70%;
}

.playlist-menu {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: right;
    padding: 0 20px;
}

.playlist-menu i {
    font-size: 1.15rem;
    cursor: pointer;
}

.playlist-menu i:hover {
    color: black;
}

.playlist .song-item {
    padding: 10px 40px;
    display: flex;
    font-size: 1.05rem;
    justify-content: space-between;
    text-align: left;
    text-decoration: none;
    margin: 15px;
    font-weight: 700;
}

.song-date-added {
    font-size: 0.75rem;
    padding-top: 5px; /* FIXME: adjust so text is centered */
}


/* FIXME: Hard Coded Highlight for current song */
li:nth-child(1) {
    color: black;

}


/*responsive media query when window is minimized to 1/2 size */
@media (max-width: 800px) {
    .cd-player #cd-bar::before {
        width:190px; 
        height: 190px;
    }

    .cd-player {
        width: 40%;
        height: 40%;
    }

    .player-buttons {
        left: 10%;
        top: 51%;
        gap: 30px;
    }

    .player-buttons button {
        font-size: 0.75rem;
    }

    .player-buttons .play-button {
        font-size: 2rem;
    }

    .song-info .song-title {
        font-size: 2rem;
    }

    .song-info .song-artist {
        font-size: 1rem;
    }
    .playlist-menu i {
        font-size: 1rem;
        cursor: pointer;
    }

    .playlist .song-item {
        font-size: 0.75rem;
        padding: 10px 20px;
        margin: 10px;
    }

    .song-date-added {
        font-size: 0.55rem;
    }


}



